@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Gilroy";
}

::selection{
  color:red;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}


@media (max-width:600px) {
  .card{
    height: 290px;
    width: 100%;
  }
  .inside{
    justify-content: space-between;
  }
  .details{
    font-size: 13px;
  }
  .docs{
    font-size: 100px;
  }
  .foreground{
    justify-content: center;
  }
}